<h1>new league</h1>
<h1>creer ma nouvelle ligue</h1>

<div class="form-wrapper">
<%= form_with model: @league do |form| %>
  <%= form.text_area :name %>
  <%= form.submit "Create it !" %>
<% end %>
</div>
