<h2 class="flexy light-blue-bar">CRÉATION DE LIGUE</h2>
  <%= simple_form_for [@league] do |f| %>
    <%= f.input :name %>
    <%= f.association :users, as: :check_boxes, collection: @friends.map(&:username) %>
    <%= f.submit 'Suivant', class: "btn btn-primary" %>
  <% end %>
