<h1>new league</h1>
<h1>creer ma nouvelle ligue</h1>
<%# trouver tout les users %>


<%= simple_form_for @team_user do |f| %>
  <%= f.input :user, as: :check_boxes, collection: User.all.map { |user| user.username}, wrapper: :horizontal_collection_inline %>
  <%= f.button :submit %>
<% end %>


<%# what i want at the end ? a dropdown %>
