.chatroom-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-chat {
  border-style:solid;
  border-color: $blue;
  background-color: $light-blue;
  border-radius: 15px;
  margin-bottom: 10px;
  min-height: 110px;
  width: 340px;
}
.card-chat-reverse {
  border-style:solid;
  border-color: $blue;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 10px;
  min-height: 110px;
  width: 340px;
}

.text-light-grey {
  color:$light-grey;
  text-align: right;
  font-size: 10px!important;
  margin-top: 5px;
}

.text-light-grey-reverse {
  color:$light-grey;
  text-align: left;
  font-size: 10px!important;
  margin-top: 5px;
}

.message-content-blue {
  color:$blue;
}

.message-content-green {
  color:$green;
}

// POUR TESTER DANS L'INSPECTEUR !!
.chatroom {
  display:flex;
  justify-content:center;
  align-items: stretch;
}

.message-avatar-date {
  display:flex;
  justify-content: space-between;
  margin:2px 8px;
}

.message-avatar-date-reverse {
  display:flex;
  justify-content:space-between;
  margin:2px 8px;
  flex-direction: row-reverse;
}

.message-avatar {
  // padding-right: 3px;
  margin-top: 4px;
}

.message-content-blue {
  margin-left: 16px;
}

.form-style {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.envoi {
  margin-top:0;
  margin-bottom: 20px;
  display:flex;
  justify-content: center;
  margin-left: 120px;
  margin-right: 120px;
  align-items: center ;
}

// .form-label .text .optionnal {
//   display:none;
// }

// .form-label .integer .optional {
//   display: none;
// }

.form-control {
  height: 110px;
  width: 340px;
  border-radius: 10px;
  border: 2px solid $blue;
}

.username-chat {
  color: $blue;
}

.blaze-comment {
  color: $blue;
  width: -webkit-fill-available;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 15px;
}

.blaze-comment-reverse {
  color: $blue;
  width: -webkit-fill-available;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 15px;
  text-align: right;
}

.chatroom-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-user-avatar {
  background: white!important;
}

.avatar-poto-message {
  width: 25%;
}
