.choose-teams {
  max-width: 350px;
  margin: auto auto;
  text-align: center;

  h3 {
    font-style: normal;
  }
}

.doublette-selection {
    display: flex;
    width: 335px;
    justify-content: space-between;
}
