.user-card {
  display: flex;
  padding: 5px;
  border: solid $blue;
  border-radius: 16px;
  width: 300px;
  margin: 10px;
  align-items: center;
}

.card-info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.card-username {
  color: $blue;
  align-self: center;
}

.add-btn{
  align-self: flex-end;
  padding-right: 10px;

  button {
    font-size: 25px;
    background-color: $yellow;
    color: $blue;
    border: none;
    border-radius: 2px;
    padding: 2px 12px;
    border-radius: 12px;
    font-weight: 900;
  }
}


#searchbar {
  margin-top: 20px;
  border: 3px solid $blue;
  border-radius: 7px;
  width: 210px;
  text-align: center;
  height: 40px;
  color: $blue;
  font-weight: 700;
}

.avatar-community {
  width: 60px;
}
