a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding-left: 0!important;
}

.flexy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  min-height: 77vh;
  margin-bottom: 10vh;
}

.container-desktop {
  max-width: 450px;
  margin: auto auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-background {
  background-color: aqua;
}

.nav-link-login {
  color: $yellow!important;
}

body, h1, h2, h3, h4 {
  font-family: $body-font!important;
  font-weight: 700!important;
  font-style: italic;
}
