// Specific CSS for your home-page

.home-container {
  text-align: center;
  margin: 0 auto;
  background-color: $yellow;
  height: 85vh;
  padding-top: 24%;


  h1 {
    font-size: 45px!important;
    font-style: italic;
    font-weight: 900!important;
    color: $blue;
    line-height: 33px;
  }
}
