// Specific CSS for your home-page

.home-container {
  text-align: center;
  margin: 0 auto;
  background-color: #FBD449;
  padding-top: 21%;
  min-height: 77vh;

  h1 {
    font-size: 45px!important;
    font-style: italic;
    font-weight: 900!important;
    color: $blue;
    line-height: 5.5vh;
  }

  p {
    margin: 0;
  }
}

#chevron {
  display: flex;
  justify-content: center;
  align-items: center;

}

#bottom {
  position: absolute;
  top: 90vh;
  transform: translateY(-100%);
  width: 100%;
  text-align: center;
  max-width: 450px;
}
section {
  min-height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
}


@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

#etape-container {
  text-align: center;
  max-width: 350px;

  h2 {
    font-size: 20px;
    margin: 16px 0px;
    font-style: normal;
    text-align: center;
  }

  p {
    font-size: 14px;
    line-height: 2.5vh;
    // font-style: normal;
  }
}
