.other-player {
  font-style: normal!important;
}

.flex-class-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar-bis {
  width: 20px;
  height: 20px;
}

.row {
  --bs-gutter-x: 0!important;
}
