.container-player-selection {
  max-width: 95%;
  text-align: center;
  margin: auto auto;

  h3 {
    font-size: 20px;
    margin: 15px 0px;
  }
}

.league_name {
  margin-bottom: 0!important;
}

.check-player {
  position: absolute;
  transform: scale(0);
}

.check-player + label {
  cursor: pointer;
}

.check-player:checked + label {
  cursor: pointer;
}


.player-selection {
max-width: 350px;
justify-content: space-between;
display: flex;
flex-wrap: wrap;
margin: auto auto;

}

.select-player {
  display: flex;
  padding: 8px;
  border: 2px solid $blue;
  margin: 5px;
  text-align: center;
  justify-content: space-around;
  border-radius: 5px;
  width: 158px;
}

.username-create {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: $blue;
}

.background-blue {
  background-color: $blue;
  color: $yellow;
  border: 2px solid $yellow;

  .username-create
  {
    color: $yellow;
  }

  #avatar-background {
    background-color: $yellow;
  }
}

.input-league-name {
  border: 2px solid $blue;
  font-family: $body-font;
  color: $blue!important;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.form-new-league {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 0;
}

label[for="league_name"] {
    display:none;
}
