.flexy-create {
max-width: 350px;
justify-content: space-between;
display: flex;
flex-wrap: wrap;

}

.select-player {
  display: flex;
  padding: 8px;
  border: 2px solid $blue;
  margin: 5px;
  text-align: center;
  justify-content: space-between;
  border-radius: 5px;
  width: 158px;
}

.avatar-selection {
  width: 40px;
}

.container-create {
  text-align: center;
}

.title-create {
  color: $blue;
  font-size: 15px;
}

.text-create {
  font-size: 20px;
  font-weight: 600;
}

#league_name {
  border: 2px solid $blue;
  border-radius: 12px;
  margin-bottom: 15px;
  max-width: 245px;
  max-height: 50px;
}

.username-create {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $blue;
}

.background-blue {
  background-color: $blue;
  color: $yellow;
  border: 2px solid $yellow;

  .username-create
  {
    color: $yellow;
  }
}

.btn-create-team {
  align-items: center;
  background-color: $blue!important;
  text-align: center;
  font-size: 17px;
  border-radius: 40px;
  color: $yellow!important;
  width: 270px;
  margin: 20px 0;

  a {
    color: $yellow!important;
  }
}
