.container-new-avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.btn-avatar {
  border: 0;
  margin: 5px;
  background-color: #F4F4F4;
  img {
    background-color: $blue;
    border-radius: 50%;
    width: 95px;
  }
}

#p-new-avatar {
  font-size: 15px;
  margin: 0;
}

#bar-avatar h2 {
  font-size: 20px;
  margin-bottom: 0;
}
