.container-new-avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.btn-avatar {
  border: 0;
  img {
    background-color: $blue;
    border-radius: 50%;
    width: 80px;
  }
}

#p-new-avatar {
  font-size: 15px;
  margin: 0;
}
