.display-label {
  display: inline!important;
}

.score-avatar {
  color:$blue;
  width:70px;
  height: 70px;
}

.first-team {
  display:flex;
  margin-top:20px;
  // height: 150px;
}

.second-team {
  display:flex;
  // flex-direction: row-reverse;
  margin-top:20px;
}

.score-text {
  color:$blue;
  display:flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}

#game_score_first_team, #game_score_second_team {
  width:70px!important;
  height:60px!important;
  border: none;
}

// .all-forms {

//   textarea:focus, input:focus{
//     outline: none;
//     color: $blue;
//     font-size: x-large;
//     font-weight: 600;
//     text-align: center!important;
//     background-color: white !important;

//   }
// }
