.col-right {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-left {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-game {
  width:95%;
  margin-bottom:30px;
  border-bottom: 2px solid $blue;

  p {
    font-size: 14px!important;
    color: $blue;
  }
}

.score-color {
  color: $blue;
  margin-top: 10px;
}


.current-player td {
  background-color: $yellow;
}

.other-players td {
  font-weight: 400;
}

.points-id, .diff-id, .classement-gras {
  font-weight: 800!important;
}

.classement-gras {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username-classement {
  flex-grow: 1;
}
table {
  color: $blue;
  font-size: 16px;
  font-style: normal!important;
  width: 330px;
}

th, td {
  border-bottom: 1px solid $blue;
  padding: 20px 4px;
}


.show-ranking {
  text-align: center;
}

.team-right {
  text-align: right!important;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.active {
  background: $blue!important;
  a {
    color: $yellow;
  }
}

.yellow-box {
  height:44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#crown-winner {
  width: 70px;
}

#flex-avatar {
  flex-direction: row!important;
}

.avatar-vainqueur {
  width: 70px;
  margin-bottom: 20px;
}
