.col-right {
  text-align: center;
}
.col-left {
  text-align: center;
}

.row-game {
  width:95%;
  margin-bottom:30px;
  border-bottom: 2px solid $blue;

  p {
    font-size: 14px!important;
    color: $blue;
  }
}

.score-color {
  color: $blue;
  margin-top: 25px;
}

// .player-actuel {
//   text-shadow: $yellow 4px 0 3px;
// }

.current-player td {
  background-color: $light-blue;
}

.other-players td {
  font-weight: 400;
}

.current-player td {
  font-weight: 400;
}

.points-id, .diff-id, .classement-gras {
  font-weight: 800!important;
}

// .back-grey {
//   background-color: rgba(194, 193, 193, 0.5);
// }


table {
  margin-left: 5px;
  margin-right: 5px;
  color: $blue;
  font-size: 16px;
  font-style: normal!important;
}

th, td {
  border-bottom: 1px solid $blue;
  padding: 20px 4px;
}

// tr {
//   background-color: rgba(202, 223, 81, 0.5);

// }

.show-ranking {
  text-align: center;
  // align-items: inherit!important;
}

.team-right {
  text-align: right!important;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
// #ol-classement {
//   list-style: auto!important;
// }
.active {
  background: $yellow!important;
}

.yellow-box {
  height:44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#crown-winner {
  width: 70px;
}

#flex-avatar {
  flex-direction: row!important;
}

.avatar-vainqueur {
  width: 70px;
  margin-bottom: 20px;
}

// .flexy-right {
//   align-items: end!important;
// }
// .flexy-left {
//   align-items: baseline!important;
// }
