.stats {
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
  color: #14326F;
  align-items: center;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 20px!important;
    margin: 15px 0px;
  }

  h4 {
    font-size: 16px;
  }

  .p-border-bottom {
    border-bottom: 2px solid $blue;
    padding-bottom: 30px;
  }
}

.p-margin-bottom {
  line-height: 35px;
}

.victoires-defaites {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.barre-pourcentage {
  width: 350px;
}

.p-without-margin {
  margin: 0!important;
}

.card-player {
  border: 3px solid $blue;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;

  p {
  margin: 0 5px;
  line-height: 35px;
  }

  h4 {
    margin-top: -1px;
    margin-right: -1px;
    margin-left: -1px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-size: 20px;
    background-color: $blue;
    color: $yellow;
  }

}

.avatar-teammate {
  margin-right: 10px;
  margin-bottom: 10px;
}
.avatar-teammate-list {
  width: 20%;
  height: 20%;
}

.badge-ok {
  width: 90px;
}

.badge-nok {
  width: 90px;
  opacity: 0.3;
}

.badge-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 370px;
  margin: 0 auto;

  p {
    color: $blue;
    margin-top: 10px;
  }
}

.friends-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.div-collegues {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 370px;
  margin: 0 auto;

  p {
    color: $blue;
    margin-top: 10px;
  }
}

.more-stats {
  max-width: 350px;
  min-width: 300px;
  margin: 0 auto;
  text-align: left;
}

.no-stats {
  width: 320px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 22px;
    line-height: 4vh;
    font-style: normal;
    text-align: center;
    margin-bottom: 0!important;
  }
}

#man-text {
  background-color: $yellow;
  border-radius: 10px;
  width: 320px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
