.col-right {
  text-align: right;
}
.col-left {
  text-align: left;
}

.row-game {
  width:95%;
  margin-bottom:30px;
  border-bottom: 2px solid $blue;

  p {
    font-size: 14px!important;
    color: $blue;
  }
}

.score-color {
  color: $blue;
}

.current-player {
  color: red!important;
}

// #ol-classement {
//   list-style: auto!important;
// }
