.new_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-login {
  margin-bottom: 20px;
}

.flexy-signup {
  max-width: 300px;
  margin: 0 auto;

  h3 {
    font-size: 20px;
    margin-top: 40px;
  }
}
