.user-card {
  display: flex;
  padding: 5px;
  border: solid $blue;
  border-radius: 6px;
  width: 90vw;
  margin: 10px;
  align-self: center;
}

.card-info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.add-btn{
  align-self: flex-end;
  padding-right: 10px;
  button {
    font-size: 16px;
    background-color: $yellow;
    border: none;
    border-radius: 2px;
    padding: 2px 12px;

  }
}

.search-btn {
  color: $yellow;
}
