<div class="menu">
  <%= link_to leagues_path, class:"menu__item" do %>
    <i class="fa-solid fa-crown icones"></i>
  <% end %>
  <%= link_to fields_path, class:"menu__item" do %>
    <i class="fa-solid fa-map-location-dot icones"></i>
  <% end %>
  <% if current_user %>
    <%= link_to user_path(current_user), class:"menu__item" do %>
      <i class="fa-solid fa-user icones"></i>
    <% end %>
  <% end %>
  <%= link_to community_path, class:"menu__item" do %>
    <i class="fa-solid fa-globe icones"></i>
  <% end %>
</div>
