  <div class="flexy">
    <p class="btn-big"><%= link_to "MES LIGUES" , leagues_path %></p>
  </div>
    <div class="flexy">
    <p class="btn-big"><%= link_to "LES TERRAINS" , fields_path %></p>
  </div>
    <div class="flexy">
    <p class="btn-big"><%= link_to "LA COMMUNAUTE" , accueil_path %></p>
  </div>
    <div class="flexy">
    <p class="btn-big"><%= link_to "ONE-SHOT" , accueil_path %></p>
  </div>
