    <h2 class="flexy light-blue-bar">
      LE MENU
    </h2>
    <div class="flexy">
      <p class="btn-big"><%= link_to "MES LIGUES" , leagues_path %></p>
    </div>
      <div class="flexy">
      <p class="btn-big"><%= link_to "LES TERRAINS" , fields_path %></p>
    </div>
      <div class="flexy">
      <p class="btn-big"><%= link_to "MON PROFIL" , profile_path %></p>
    </div>
    </div>
      <div class="flexy">
      <p class="btn-big"><%= link_to "LA COMMUNAUTE" , accueil_path %></p>
