<h2 class="bar light-blue-bar">LE MENU</h2>

<div class="flexy">
  <%= link_to "MODE LIGUES" , leagues_path, class:"btn-big" %>
  <%= link_to "MATCH ONE SHOT" , fields_path, class:"btn-big" %>
  <%= link_to "MON PROFIL" , user_path(current_user), class:"btn-big" %>
  <%= link_to "LA COMMUNAUTÉ" , community_path, class:"btn-big" %>
</div>
