<div class="home-container">
  <div>
    <h1>PETANQUE</h1>
    <h1>-</h1>
    <h1>SOCIAL</h1>
    <h1>-</h1>
    <h1>CLUB</h1>
  </div>
  <div class="flexy">
    <p class="btn-small"><%= link_to "JOUER" , accueil_path %></p>
  </div>

<script>src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.10.1/lottie.min.js"</script>
<div id="animation container">
  <script>
    var animation = bodymovin.loadAnimation({
      container: document.getElementByID('animation container'),
      path: "/test.json",
      render: 'svg',
      loop: true,
      autoplay: true,
      name: 'test animation'
    })
  </script>
</div>

<%# <lottie-player src="/test.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player> %>

<p class="image-clignote">⌄</p>
<%# <i class="fa-solid fa-arrow-down image-clignote"></i> %>
    <a href="#sec-2">
      <div class="scroll-down"></div>
    </a>


<div id="sec-2">
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO

</div>
