<div class="home-container">
  <div>
    <h1>PETANQUE</h1>
    <h1>-</h1>
    <h1>SOCIAL</h1>
    <h1>-</h1>
    <h1>CLUB</h1>
  </div>

  <div class="flexy">
    <p class="btn-small"><%= link_to "JOUER" , leagues_path %></p>
  </div>
  
   <br>
  <div class="flexy">
    <h1><span data-controller="typed-js"></span></h1>
  </div>
</div>
