<div class="home-container">
  <div>
    <h1>PETANQUE</h1>
    <h1>-</h1>
    <h1>SOCIAL</h1>
    <h1>-</h1>
    <h1>CLUB</h1>
  </div>
  <div class="flexy">
    <p class="btn-small"><%= link_to "JOUER" , accueil_path %></p>
  </div>

<%# <div class="arrow animated bounce"></div> %>
<lottie-player src="https://assets10.lottiefiles.com/packages/lf20_3x6fsa7i.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>

<p class="image-clignote">⌄</p>
<%# <i class="fa-solid fa-arrow-down image-clignote"></i> %>
    <a href="#sec-2">
      <div class="scroll-down"></div>
    </a>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="sec-2">
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO
HEEEELLLLO

</div>
