<div class="home-container">
  <section id="sec-1">
    <div>
      <h1>PETANQUE</h1>
      <h1>-</h1>
      <h1>SOCIAL</h1>
      <h1>-</h1>
      <h1>CLUB</h1>
    </div>
    <div class="flexy">
      <%= link_to "JOUER" , accueil_path, class:"btn-small", id:"btn-jouer" %>
    </div>
    <div id="bottom">
      <p>Comment ça marche ?</p>
      <a href="#sec-2">
      <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_ktjpAwISY0.json"  class="flexy scroll-down" background="transparent"  speed="1"  style="height: 70px;"  loop  autoplay></lottie-player>
      </a>
    </div>
  </section>
  <section id="sec-2">
    <div class ="container" id="etape-container">
      <h2>Étape 1</h2>
      <p>Invite tous les boulistes amateurs qui t’entourent à s’inscrire sur l’app : du simple bouliste du dimanche à celui ou celle qui pense qu’il aurait pu passer pro (”mais je me suis fait les croisés, tu connais…”)</p>
      <h2>Étape 2</h2>
      <p>Ajoute-les à ta “liste des collègues” et affronte les en doublette (dans la vraie vie!) dans des mini championnats entre amis</p>
      <h2>Étape 3</h2>
      <p>Rentre les scores dans l'app</p>
      <h2>Étape 4</h2>
      <p>Enchaine les carreaux, cumule tarpin de badges et de statistiques pour faire le mariolle devant les collègues</p>
    </div>
    <div class="flexy">
      <%= link_to "JOUER" , accueil_path, class:"btn-small", id:"btn-jouer" %>
    </div>
  </section>
</div>
