.alert {
  position: fixed;
  right: 16px;
  z-index: 1000;
  top: 5px;
  border-radius: 10px;
  width: 250px;
  background-color: $yellow;
  color: $blue;
  border: none!important;
}

.flashe {
  animation: 7s flash 0s ease-out forwards;
}

@keyframes flash {

  0% {
    right:-100%;

  }

  50% {
    right:16px;
  }

  100% {
    right:-100%;
  }

}
