.avatar-blue {
  background-color: $blue;
  border-radius: 50%;
}

.avatar-yellow {
  background-color: $yellow;
  border-radius: 50%;
}

.avatar-small {
  width: 40px;
}

.avatar-medium {
  width: 60px;
}

.avatar-big {
  width: 80px;
}

.avatar-mini {
  width: 25px;
}
