.btn-small {
  text-align: center;
  font-size: 30px;
  width: 180px;
  background-color: $blue;
  border-radius: 40px;
  font-family: $body-font;
  font-weight: 900!important;
  font-style: italic;
  margin-top: 60px;
  color: $yellow!important;

  a {
    color: $yellow!important;
  }
}

.btn-smally, .btn-smally:hover {
  text-align: center;
  font-size: 18px;
  width: 115px;
  border-radius: 10px;
  font-family: $body-font;
  font-weight: 900!important;
  font-style: italic;
  margin-top: 60px;
  color: $yellow!important;

  a {
    color: $yellow!important;
  }
}



.btn-small:hover{
  text-align: center;
  font-size: 30px;
  width: 180px;
  background-color: $blue;
  border-radius: 40px;
  font-family: $body-font;
  font-weight: 900!important;
  font-style: italic;
  // margin-top: 60px;
  color: $light-blue!important;
}

// .btn-smally:hover{
//   text-align: center;
//   font-size: 18px;
//   width: 115px;
//   background-color: $blue;
//   border-radius: 10px;
//   font-family: $body-font;
//   font-weight: 900!important;
//   font-style: italic;
//   margin-top: 60px;
//   color: $yellow!important;

//   a {
//     color: $yellow!important;
//   }
// }


.btn-score {
  margin-top: 0!important;
  font-size: 15px!important;
  text-align: center;
  padding: 10px;
}

  .btn-medium {
    margin: 10px 0px;
    width: 95%;
    height: 50px;
    border-radius: 15px;
    background-color: $blue;
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 600px;

      a {
      font-size: 16px;
      color: $white;
      font-weight: 800;
      padding: 10px 5px;
    }
  }
  .btn-medium-grey {
    background-color: #cfd1d3;

      a {
      color: $blue;
    }
  }

  #btn-create {
    align-items: center;
    color: $blue;
    background-color: $yellow;
  }

  .btn-big {
    margin-top: 10px;
    width: 80%;
    height: 85px;
    border-radius: 15px;
    background-color: $blue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;

      a {
      font-size: 16px;
      color: $white;
      font-weight: 800;
      padding: 10px 5px;
    }
  }

  .btn {
    background-color: $blue!important;

  }
