.btn-small {
  text-align: center;
  font-size: 30px;
  width: 180px;
  background-color: $blue;
  border-radius: 40px;
  font-family: $body-font;
  font-weight: 900;
  font-style: italic;
  margin-top: 60px;
  color: $yellow!important;

  a {
    color: $yellow!important;
  }
}

.btn-smally {
  font-size: 20px;
  width: 150px;
  margin: 20px 0px!important;
  border: none;
}

#btn-message {
  margin-top: 5px!important;
}


.btn-score {
  margin-top: 0!important;
  font-size: 15px!important;
  text-align: center;
  padding: 10px;
}

.btn-medium {
  margin: 8px 0px;
  width: 90%;
  height: 60px;
  border-radius: 15px;
  background-color: $blue;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 600px;
  align-items: center;
  color: white;
}

.btn-medium:hover {
  color: white!important;
}

.btn {
  background-color: $blue!important;
}

#btn-create {
  align-items: center;
  color: $yellow;
  background-color: $blue;
}

#btn-create:hover {
  color: $yellow!important;
}

.btn-big {
  margin-top: 25px;
  width: 80%;
  height: 85px;
  border-radius: 15px;
  background-color: $blue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  color: white;
  font-size: 22px;
}

.btn-big:hover {
  color: white!important;
}

.btn-doublette {
  text-align: center;
  font-size: 18px;
  width: 155px;
  background-color: $yellow;
  border-radius: 40px;
  border: none!important;
  font-family: $body-font;
  font-weight: 700;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 15px;
  color: $blue;
  height: 35px;
}

#btn-search {
  width: 180px;
}

#btn-jouer {
  margin-top: 40px;
}

#btn-score-one-shot {
 a{
  width: 100px;
 }
}
