.card-field p {
  font-size: 16px;
  // opacity: .7;
  margin: 0;
  font-weight: bold;
}

.card-field .card-field-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-field:hover {
  background: $blue!important;
  color:$white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

a {
  text-decoration: none!important;
}

.card-field h2 {
  font-size: 24px;
  font-weight: bolder;
  margin: 0;

}

.card-field {
  color:$white;
  font-family: 'Inter', 'sans-serif';

    img {
      border-radius: 10px;
      width:220px;
    }
}

.mapboxgl-popup-content {
  background: $blue!important;
  border-radius: 10px!important;
  // padding: 10px 10px 15px;
  // pointer-events: auto;
  // position: relative;
}

.card-product-infos {
  color:$blue!important;
}
