.menu {

  bottom: 0!important;
  height:10vh;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  display: flex;
  width:100%;
  font-size: 1.5em;
  padding: 0 2.85em;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  max-width: 450px;
}

.menu__item {

  all: unset;
  flex-grow: 1;
  z-index: 100;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 0.55em 0 0.85em;
}

.menu__border{

  left: 0;
  bottom: 99%;
  width: 10.9em;
  height: 2.4em;
  position: absolute;
  clip-path: url(#menu);
  will-change: transform;
  background-color: $blue;
  transition: transform var(--timeOut , var(--duration));

}


@media screen and (max-width: 50em) {
  .menu{
      font-size: .8em;
  }
}


.icones {
  color:$yellow;
  font-size:24px;
}
