.navbar-lewagon {
  justify-content: space-between;
  background: $yellow;
  color: $blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-home {
  text-align: center;
  margin-left: 10px;
  padding-top: 10px;

  h4 {
    font-size: 15px;
    font-style: italic;
    color: $blue;
    font-weight: 800;
    line-height: 0.6;
  }
}

.navbar-nav .nav-link {
  color: $blue;
  font-family: $body-font;
  font-weight: 600;
}
