.navbar {
  min-height: 13vh;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
  color: $blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-home {
  text-align: center;
  margin-left: 10px;
  padding-top: 10px;

  h4 {
    font-size: 15px!important;
    font-style: italic;
    color: $yellow;
    font-weight: 800!important;
    line-height: 0.6;
  }
}

.nav-pills .nav-link.active {
  color: $yellow!important;
  font-family: $body-font;
  font-weight: 800!important;
  background-color: $blue!important;
}

.nav-item-navabar a {
  color: $yellow!important;
}

.typed-cursor {
  display:none;
}

.padding_right {
  padding-right: 22px;
}

.navbar {
  position:sticky;
  margin:0;
  top:0!important;
  z-index:10;
}

.avatar-navbar {
  width: 70px;
}
